$white: #fff;
$dark-gray: #383838;
$med-dark-gray: #515356;
$med-gray: #979797;
$med-light-gray: #c7c5c4;
$light-gray: #d8d8d8;
$black: #333333;
$white: #fff;
$green: #5CAF00;
$blue: #3BB7F3;
$half-black: rgba(0,0,0,.5);
$half-white: rgba(255, 255 ,255, .5);
$quarter-white: rgba(255, 255 ,255, .25);
$tenth-white: rgba(255, 255 ,255, .1);